<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sixinterns-careers</title>

    <link rel="stylesheet" href="styles/styles.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/2c9a2f7e16.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <nav>
        <div class="navbar">
            <div class="title">
                <h3>Sixinterns</h3>
            </div>
            <div class="navbar-links">
                <span>Find Work</span>
                <span>Campus Ambassador</span>
                <button class="btn btn-outline-light">Login In / Sign Up</button>
            </div>
        </div>
    </nav>
    <div class="dynamic">
        <div class="container">

        