<%- include('partials/header'); -%>
<h2>Strategy Analyst to Director – Revenue & Sales (Exp: 1- 4 years)</h2>

<p>We are looking for a result driven and aggressive individual for working closely with the Director- Revenue.</p>
<h5>Responsibilities will include:</h5>
<ol>
    <li>Running deep analysis on data of various verticals and all facets of business</li>
    <br>
    <li>Setting up a predictive revenue management and tracking infrastructure and constantly improving the same.</li>
    <br>
    <li>Helping the director rolls out revenue targets to the Farming (Existing Business) and Hunting Teams (New Business)</li>
    <br>
    <li>Tracking complete sales pipeline & funnel and flag all variances from the sales targets.</li>
    <br>
    <li>Working closely with the director and the heads of Operation and Marketing teams to finalize commercials.</li>
    <br>
    <li>Taking care of the real time revenue tracking and presenting variance analysis to the management. </li>
    <br>
    <li>Doing health checks on current projects, developing insights on process inefficiencies and devising scalable methods of solving the same. </li>
    <br>
    <li>Helping the director to set up new revenue streams with market research and driving pilot projects through the Delivery Teams</li>
    <br>
    <li>Helping the director to position existing products and solutions to new industries and sectors </li>
    <br>
    <li>Helping the director in engaging with key clients and the senior leadership of the company.</li>
    <br>
    <li>Preparing SOW for projects and documentation of same based on multiple levels of discussions</li>
    <br>
    <li>Managing all meeting schedules of Director and keep note of all the discussions he is involved. </li>
</ol>
<h5>Skills and Experience:</h5>
<ol>
    <li>The overall experience of 1-4 years with experience. Experience of working with a startup is a plus.</li>
    <br>
    <li>Experience in Sales/Key Account Management is a plus.</li>
    <br>
    <li>Result driven, analytical bent of time is essential.</li>
    <br>
    <li>Ability to put a structure to chaos is essential.</li>
    <br>
    <li>Great IQ, logic, common sense and unending drive to get results are what we are looking for.</li>
</ol>

<a href="https://forms.gle/KyuZMTMRQmPjZrma6"><button class="btn btn-primary" >Apply Now</button></a>

<%- include('partials/footer'); -%>
