<%- include('partials/header'); -%>
<h2>Quality Control Executive</h2>
<ol>
    <li>Work alongside the Quality Control Manager to execute projects at scale.</li>
    <li> Preparation of Training document for assigned projects.</li>
    <li>Virtually manage a huge amount of people working on the field.</li>
    <li>Ensure that the training of each project runs smoothly.</li>
    <li>Ensure that everyone who is selected for a project starts the work on their scheduled timings.</li>
    <li>Mentor and motivate the student workforce. Demonstrate strong people engagement skills.</li>
    <li>Suggest improvements in processes at every level.</li>
    <li>Validate the reports and update regular feedback to operations team.</li>
</ol>
<h5>Skills and Experience</h5>
<ol>
    <li>Relevant experience of – 0.5 – 2 years.</li>
    <li>Experience of working with start-ups is preferred.</li>
    <li>Must be aggressive towards driving the targets.</li>
    <li>Must have impeccable verbal and written communication skills (Both English and Hindi).</li>
    <li>Must have excellent relationship management skills.</li>
    <li>High-level diligence and attention to details</li>
</ol>
<button class="btn btn-primary">Apply Now</button>
<%- include('partials/footer'); -%>
