<%- include('partials/header'); -%>

<h2>Operations Manager</h2>
<h5>Duties and Responsibilities</h5>
<ol>
    <li>Set goals/KPI/target for the  team members.</li>
    <li>Take up existing projects and optimize them by closely working with the product team.</li>
    <li>Handle general operations which includes daily execution, driving volume, tracking progress, highlighting flags and daily reporting.</li>
    <li>Analyze training needs and provide training.</li>
    <li>Collect feedback on a regular basis and resolve any issues</li>
    <li>Monitoring the team performance to achieve the KRA’s </li>
    <li>Mentor and motivate the student workforce. Demonstrate strong people engagement skills.</li>
    <li>Run the pilot of projects.</li>
    <li>Suggest improvements in processes at every level in operations.</li>
</ol>
<h5>Required Skills and Experience:</h5>
<ol>
    <li>1- 3 years of relevant experience in managing an operations team.</li>
    <li>Ability to motivate and manage a young team.</li>
    <li>Proven ability in driving tightly controlled operational metrics</li>
    <li>Strong process orientation & business accumen</li>
    <li>You should have good people management, team building and program management skills.</li>
    <li>Strongly inclined to do high quality and impactful work in a dynamic and unstructured environment.</li>
    <li>Higher than normal sense of ownership with a clear bias for action.</li>
    <li>Relevant educational qualification.</li>
    <li>Must have impeccable verbal and written communication skills (Both English and Hindi).</li>
</ol>
<a href="https://forms.gle/KyuZMTMRQmPjZrma6"><button class="btn btn-primary" >Apply Now</button></a>

<%- include('partials/footer'); -%>
