<%- include('partials/header'); -%>

<h2>Resource Manager</h2>

<p>We are looking for a result-driven and aggressive individual to take up the role of Manager- Workforce Experience for the Client Engagement Team. As part of this role, you would:</p>
<ol>
    <li>Build scalable processes for effective screening and selection of the workforce.</li>
    <li>Work closely with Tech team to come up with various product level developments with respect to screening, selecting, skills mapping and utilizing of the workforce. </li>
    <li>Manage a team of 10-12 executives. </li>
    <li>Manage entire team operation in terms of work allocation, training of resources, keeping track of team member’s work and giving feedback to them.</li>
    <li>Train the internal team in relevant soft skills and interview skills to improve candidates’ experience.</li>
    <li>Skill mapping of huge number of student workforce based on project requirements.</li>
</ol>
<h5>Skills and Experience</h5>
<ol>
    <li>3- 5 years of relevant experience.</li>
    <li>Must have Team handling experience </li>
    <li>Very good communication and soft skills </li>
    <li>Strong command of English and Hindi</li>
    <li>Customer care experience in international BPO is desirable </li>
</ol>
<a href="https://forms.gle/KyuZMTMRQmPjZrma6"><button class="btn btn-primary" >Apply Now</button></a>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%- include('partials/footer'); -%>
