<%- include('partials/header'); -%>

<h2>Senior Accounting Executive</h2>
<p>We are looking for candidate with 2 to 4-years relevant experience in Finance & Accounting </p>
<br>
<p>The candidate will be required to work on end to end accounting and finance functions. The candidate will be reporting to Director Finance and will be working on aspects which have a direct impact on organizational growth.</p>
<h5>Duties & Responsibilities</h5>
<ol>
    <li>Preparing and maintaining statutory books of accounts viz, journal, ledger, cash book and bank book in compliance with time & accuracy norms </li>
    <li>Presenting a true and fair view of the financial position of the company by preparing financial statements viz, P&L Account, Balance Sheet and Annual reports.</li>
    <li>Preparation of Bank reconciliations</li>
    <li>GST Calculation, Filing and Input reconciliation.</li>
    <li>Cash flow tracking- Helping finance manager in managing invoicing, account receivable and payable.</li>
    <li>Handling the office operational expenses (petty cash expenses)</li>
    <li>Office purchase- Reaching out to vendors, negotiate for the best price and close the deal.</li>
    <li>Office payments: Make and track all the payment like Rent, Electricity bill, phone bill etc.</li>
</ol>
<h5>Skills Required</h5>
<ol>
    <li>Expertise in Tally ERP 9.</li>
    <li>Firm grasp of basic and intermediate accounting principles</li>
    <li>Ability to perform elementary mathematical operations</li>
    <li>Willingness to meet deadlines on a consistent basis</li>
    <li>Comfortable handling and storing confidential financial information</li>
    <li>Close attention to detail</li>
    <li>Ability to analyze information in an objective and nonbiased manner</li>
    <li>Ability to work with a team </li>
    <li>Proficiency in MS Excel </li>
</ol>
<h5>Qualification/Experience Required</h5>
<p>B.com/ M.com, CA Inter /CMA inter or equivalent degree</p>
<p>2 to 4 years of relevant experience. </p>
<ol>
    <li>Experience in GST handling. </li>
    <li>Experience in working with a start-up is an added advantage.</li>
    <li>Experience in working with a CA office and well versed with Tally and Finalization of accounts and GST filing.</li>
</ol>

<a href="https://forms.gle/KyuZMTMRQmPjZrma6"><button class="btn btn-primary" >Apply Now</button></a>


<%- include('partials/footer'); -%>
