<%- include('partials/header'); -%>

<h2>Inside Sales Manager ( Exp: 1-4 years)</h2>
<p>We are looking for a result driven and aggressive individual for leading Inside Sales. As part of this role, you would:</p>
<ol>
    <li>Conduct research across various traditional and modern sectors (Retail, FMCG, BFSI, and Consumer Healthcare) to discover and explore new use cases. </li>
    <li>Take responsibility for finding prospect clients for each business vertical/use case and extract all the vital details of every prospective client.</li>
    <li>Identify the list of correct personnel working in each prospect client across the internal relevant departments who might be an ideal person for taking up our proposition.</li>
    <li>Scout LinkedIn (and other tools) to extract the contact details of the correct personnel as extracted in the above step. You would also have to leverage the network of each and every person working or associated with us.</li>
    <li>Reach out to them through emails and calls. The motive would be to set up the first sales call.</li>
    <li>Manage the funnel of all the prospect leads until they get converted (Pipeline Management)</li>
    <li>Maintain detailed minutes of every sales call/meeting.</li>
    <li>Take complete responsibility for preparing all documentation required at every level in the sales funnel. This would involve preparing and validating sales decks, MoUs, NDAs, etc.</li>
    <li>Learn the art of pitching to clients and slowly take up the responsibility of first level interactions with all the prospect leads.</li>
</ol>
<br>
<p>In a nutshell, the individual will directly work with the founders and take up complete responsibility of managing our sales funnel from the grass root level.</p>
<h5>Skills and Experience</h5>
<ol>
    <li>Overall experience – 1-4 years. Experience in Business Development would be preferred.</li>
    <li>Experience of working in a startup is preferred.</li>
    <li>Must be aggressive towards ensuring customer satisfaction at any cost and also driving increased revenue month on month.</li>
    <li>Must have impeccable verbal and written communication skills (Both English and Hindi).</li>
    <li>Must have excellent relationship management skills.</li>
    <li>Critical business thinking is essential.</li>
</ol>

<button class="btn btn-primary">Apply Now</button>

<%- include('partials/footer'); -%>
