<%- include('partials/header'); -%>

<h2>Marketing Executive (Exp: 0.5 - 2 years)</h2>
<p>As part of this role, you would:</p>
<ol>
    <li>Coordinate with operation teams to identify the requirements for ongoing part-time internships wherein college students devote 20 hours a week and work remotely around their location.</li>
    <li>Develop an expansion strategy to get maximum applications of college students for the ongoing part-time internships. This may include – Market research on colleges, Identifying skill set required, selection criteria, digital and non-digital marketing channels.</li>
    <li>Foster long-term relationships with training & placement officers or campus relations department of various colleges across India.</li>
    <li>Pitch about the ongoing part-time internships to college officials and ensure student registrations for the same.</li>
    <li>Be responsible for making campus ambassadors (college student) to market ongoing part-time internships in colleges, ensuring that the goal of maximum registration from each college is achieved.</li>
    <li>Take initiatives to figure out more effective channels to market ongoing part-time internships.</li>
    <li>Develop Awign-Student chapters in colleges to ensure consistent student engagement with Sixinterns</li>
    <li>Assist in organizing marketing and promotional campaigns.</li>
</ol>
<p>In a nutshell, the individual will directly work with the head of Marketing & Expansion and take up the responsibility of expanding the student base for multiple part-time internships across India.</p>

<h5>Skills and Experience</h5>
<ol>
    <li>Overall experience – 0.5 – 2 years.</li>
    <li>Experience of working a startup is preferred.</li>
    <li>Must be aggressive towards driving the targets.</li>
    <li>Must have impeccable verbal and written communication skills (Both English and Hindi).</li>
    <li>Must have excellent relationship management skills.</li>
    <li>Critical business thinking is essential.</li>
</ol>
<button class="btn btn-primary">Apply Now</button>
<%- include('partials/footer'); -%>
