<%- include('partials/header'); -%>
<h2>Head of Sales</h2>
<p>We are looking for a result driven and aggressive individual for heading our Sales. We are at an inflection point in our growth story and are looking for a high-performing Sales Head who will meet our customer acquisition and revenue growth objectives.</p>
<br>
<ol>
    <li>Own and exceed quarterly and annual sales targets</li>
    <li>Develop and execute short term and long term strategic plans and tactics and to achieve sales targets and expand our customer base</li>
    <li>Own, Develop and Streamline the Sales function at Awign and build the sales structure bottoms up</li>
    <li>Recruit, Develop & retain quality manpower in the Sales function</li>
    <li>Lead and develop the sales team (inside sales and field sales) – establish goals, incremental metrics and processes consistent with meeting/exceeding sales targets.</li>
    <li>Solicit and maintain a healthy customer pipeline of Enterprises and Growth Stage Companies</li>
    <li>Responsible for the entire sales cycle, from prospecting to closure</li>
    <li>Partner with customers to understand their business needs and objectives</li>
    <li>Personally develop client relationships and work closely with the sales team on account/prospect strategy.</li>
    <li>Negotiate, structure and close deals that meet customer expectations and Awign’s ability to deliver;</li>
    <li>Help the company effectively communicate the value proposition through accurate diagnostics,presentations and proposals</li>
    <li>Understand category-specific landscapes and trends</li>
    <li>Building and maintaining strong, long-lasting customer relationships</li>
    <li>Competitor & customer analysis to identify & explore new potential markets</li>
</ol>
<br>
<p>In a nutshell, the individual will directly work with the founders and take up complete responsibility of driving the sales for Awign, at grass root level.</p>
<h5>Skills and Experience</h5>
<ol>
    <li>Experience of executing B2B Enterprise sales – 7 to 10 years.</li>
    <li> Demonstrable experience as head of sales, developing client-focused, differentiated and achievable solutions.</li>
    <li>Consistent track record of beating targets</li>
    <li>Critical business thinking is essential.</li>
    <li>Experience of working in a startup is preferred.</li>
    <li>Knowledge about FMCG, Retail, BFSI, Telecom is preferred</li>
    <li>Proven ability to drive the sales process from plan to close</li>
    <li>Proven ability to articulate the distinct aspects of products and services</li>
    <li>Strong networking and relationship building ability</li>
    <li>Must have the ability of doing a lot of things personally - and leading from the front.</li>
    <li> Must be aggressive towards driving increased revenue and sales, month on month.</li>
    <li>Must have impeccable verbal and written communication and negotiation skills (Both English and Hindi).</li>
</ol>
<button class="btn btn-primary">Apply Now</button>
<%- include('partials/footer'); -%>
