<%- include('partials/header'); -%>

<h2>Enterprise Sales Manager (Hunter)</h2>
<p>We are looking for an experienced Business Development Manager(Hunter) join our amazing team in Bangalore with the below criteria who has developed a successful career from direct selling and who has a demonstrable track record of delivering against revenue targets through their innovative sales skills. </p>
<br>
<p>This is a fantastic career defining opportunity for a target driven sales professional who enjoys a role filled with variety, challenges and autonomy. Responsible for achieving new bookings from assigned set of target accounts and territory.</p>

<h5>Roles and Responsibilities</h5>
<ol>
    <li>Drive revenue through discovering, prospecting, and creating new business.</li>
    <li>Work closely with Inside Sales and Delivery team to Develop and/or expand relationships with new customers</li>
    <li>Drive sales by developing and executing sales strategies and plans in order to achieve sales targets.</li>
    <li>Solicit and maintain a healthy customer pipeline of Enterprises and Growth Stage Companies</li>
    <li>Identifying new business opportunities and follow-up the defined business opportunities</li>
    <li>Responsible for the entire sales cycle, from prospecting to closure.</li>
    <li>Building and maintaining strong, long-lasting customer relationships.</li>
    <li>Help the company effectively communicate the value proposition through accurate diagnostics, presentations and proposals</li>
    <li>Conducting presentations, meetings and Demos with growth stage companies as well as traditional enterprises</li>
    <li>Demonstrating and clearly differentiating the product from the competition focusing on value proposition</li>
    <li> Responsible for timely execution of proposals and contracts. Negotiate, structure and close deals that meet customer expectations and Awign’s ability to deliver; </li>
    <li>Managing forecasts accurately and delivering against substantial revenue targets and achieving the assigned sales volume.</li>
    <li>Account Based planning for a set of key Potential Clients</li>
    <li>Prepare & review quarterly and annual Account plans for Awign's business with assigned clients.</li>
    <li>Regular forecast updates to the leadership on the business</li>
</ol>

<p>In a nutshell, the individual will directly work with the founders and take up complete responsibility of driving the sales for Awign, at grass root level.</p>
<h5>Skills and Experience </h5>

<ol>
    <li>Experience of executing B2B Enterprise sales – 4+ years' experience in enterprise services or consulting sales role and a good understanding of solutions selling methodology and tools</li>
    <li> Proven experience and track record of enterprise solution sales in driving revenue through discovering, prospecting, and creating new business.</li>
    <li> A great communicator, presenter and influencer. Must have impeccable verbal and written communication and negotiation skills (Both English and Hindi)Consistent track record of beating targets. Must be aggressive towards driving increased revenue and sales, month on month.</li>
    <li>Experience of working in a startup is preferred.</li>
    <li>Knowledge about FMCG, Retail, BFSI, Telecom is preferred</li>
    <li>Proven ability to drive the sales process from plan to close</li>
    <li>Proven ability to articulate the distinct aspects of products and services</li>
    <li>Strong networking and relationship building ability</li>
    <li>Critical business thinking is essential.</li>
    <li>High energy with the desire and ability to grow and thrive in a dynamic startup environment</li>
    <li>Highly disciplined in approach and familiar with sales management tools and CRM </li>   
</ol>
<a href="https://forms.gle/KyuZMTMRQmPjZrma6"><button class="btn btn-primary" >Apply Now</button></a>

<%- include('partials/footer'); -%>