<%- include('partials/header'); -%>

<h2>Marketing Team Lead (Exp: 2-3 years)</h2>

<h5>Roles and Responsibilities:</h5>
<ol>
    <li>Coordinating with the operations team to understand the Client’s requirements and ensure required supply for the smooth implementation of project.</li>
    <li>Developing marketing strategies for the assigned project(s) to ensure the requisite supply requirement is met.</li>
    <li>Manage a team of executives. Guide and mentor them for becoming best performers. </li>
    <li>Create innovative marketing campaigns for reaching  to target audience.</li>
    <li>Collaborating and maintaining long-term relations with colleges & their placement teams.</li>
    <li>Performing Root Cause Analysis for understanding problems in depth and coming up with solutions for the same.</li>
    <li>Creating promotions through various advertising routes.</li>
    <li>Identifying new supply through innovative marketing techniques.</li>
</ol>

<h5>Skills and experience:</h5>
<ol>
    <li>Overall experience – min 2-3 years in marketing.</li>
    <li>Experience of working in a startup is preferred.</li>
    <li>Should be very good in problem solving, analytical skills and data-driven focused decision making.</li>
    <li>Must have impeccable verbal and written communication skills (Both English and Hindi).</li>
    <li>Must have excellent relationship management skills.</li>
    <li>Candidate with fundamentals of Microsoft Excel would be preferred.</li>
    <li>Experience in Team handling will be preferred.</li>
</ol>
<a href="https://forms.gle/KyuZMTMRQmPjZrma6"><button class="btn btn-primary" >Apply Now</button></a>

<br>
<br>
<br>
<br>
<%- include('partials/footer'); -%>