<%- include('partials/header'); -%>

<h2>Lead Problem Solution Engineer | PSE3 (Exp: 5-8 years)</h2>

<p>We are looking for Lead Problem Solution Engineer (PSE3) who brings in his technical expertise and leadership skills to the forefront and manages the first level of support for all incoming problems with the product.</p>

<h5>Responsibility</h5>
<ol>
    <li>Develop a deep understanding of internal application behavior.</li>
    <li>Analyze problems of low complexity, diagnose and fix bugs of low complexity when appropriate.   </li>
    <li>Work with developers to identify and resolve more complicated problems</li>
    <li>Address urgent issues quickly, work within and measure against customer SLAs</li>
    <li>Adapt installer, Shell scripts, and Perl scripts and aggressively automate manual tasks through scripting.</li>
    <li>Provide feedback from users to the team.</li>
    <li>Maintain an ongoing record of problem analysis and resolution activity in an on-call tracking system.</li>
    <li>Proactively monitors production and non-production environments and applications</li>
    <li>Develop smaller complexity features/enhancements in existing system components</li>
    <li>Triaging of issues and adhering to SLA’s.</li>
</ol>
<h5>Must-Have Skills</h5>
<ol>
    <li>Excellent leadership skills to mentor the engineers in your team.</li>
    <li>Understanding of technologies and architecture in a highly scalable and available setup.</li>
    <li>Understanding of highly transactional, large relational and complex systems.</li>
    <li>Superior delivery skills to manage projects and delivering high-quality deliverable on time.</li>
    <li>Above 4 years of experience with technology depth as well as good people skills.</li>
    <li>At least 5 years of experience in product development or test engineering.</li>
</ol>
<h5>Desired Skills</h5>
<ol>
    <li>Good exposure to MySQL and writing SQL queries</li>
    <li>Prior experience in production support.</li>
    <li>Prior programming experience preferred</li>
    <li>Have spent 3+ years at a startup or worked in a small and reasonably independent team.</li>
</ol>
<a href="https://forms.gle/KyuZMTMRQmPjZrma6"><button class="btn btn-primary" >Apply Now</button></a>


<%- include('partials/footer'); -%>
