<%- include('partials/header'); -%>


<h2>Engagement Manager ( Exp. 0 - 4 Years)</h2>
<p>We are looking for a result driven and aggressive individual for leading Key Account Management. As part of this role, you would:</p>
<ol>
    <li>Take complete responsibility for building and driving engagement with assigned clients/Key Accounts while ensuring retention and
        client satisfaction</li>
    <li>Take complete responsibility of  solving clients’ queries and handling escalations.</li>
    <li>Ensure periodic reporting of execution progress and additional valuable insights with clients.</li>
    <li>Take responsibility of ensuring that final reports required as part of the project are created and shared with the client on time.</li>
    <li>Align client’s requirements and expectations with Ops capabilities, define internal KPIs and constantly follow MIS & closely monitor
        the progress towards targets.</li>
    <li>Upselling and cross selling with the assigned clients.</li>
</ol>
<p>In a nutshell, the individual will directly work with the founders and take up complete responsibility of managing clients
   from grass root level.</p>

<h5>Skills and Experience</h5>
<ol>
    <li>Overall experience 0 to 4 years. Experience in account management/Sales would be preferred.</li>
    <li>Experience of working in a startup is preferred.</li>
    <li>Must be aggressive towards ensuring customer satisfaction at any cost and also driving increased revenue month on month.</li>
    <li>Must have impeccable verbal and written communication skills (Both English and Hindi).</li>
    <li>Must have excellent relationship management skills.</li>
    <li>Critical business thinking is essential.</li>
</ol>
<button class="btn btn-primary">Apply Now</button>
<br>
<br>
<br>
<br>
<%- include('partials/footer'); -%>
