<%- include('partials/header'); -%>

<h2>Senior Problem Solution Engineer | PSE2 (Exp: 2-5 years)</h2>

<p>We are looking for a Senior Problem Solution Engineer who will act as the first level of support for all incoming problems with the product.</p>

<h5></h5>
<ol>
    <li>Diagnosing, troubleshooting and fixing software issues</li>
    <li>Developing and owning monitoring solutions for production and non-production environments and applications</li>
    <li>Develop smaller complexity features/enhancements in existing stable system components</li>
    <li>Adapt installer, Shell scripts, and Perl scripts and aggressively automate manual tasks through scripting</li>
    <li>Provide feedback from users to the team</li>
    <li>Maintain an on-going record of problem analysis and resolution activity in an on-call tracking system</li>
</ol>
<h5>Desired Skills</h5>
<ol>
    <li>Good exposure to MySQL and writing SQL queries Should be able to write and understand
        complex joins</li>
    <li>Automation scripting knowledge of scripting language Ex Python, Ruby,  Perl, Shell script is
        required</li>
    <li>Proven success in a fast-paced support environment</li>
    <li>Programming experience in any language (C / Java / RubyOnRails will be a plus)</li>
    <li>Good in problem-solving and analytical skills</li>
    <li>Demonstrated ability to communicate</li>
</ol>
<button class="btn btn-primary">Apply Now</button>

<%- include('partials/footer'); -%>