<%- include('partials/header'); -%>
<h2>Lead Quality Assurance Engineer I SDET3 (Exp: 5-9 years)</h2>

<p>We are looking for a Lead Quality Assurance Engineer (SDET3) to develop and execute exploratory tests as well as automated tests in order to ensure product quality.</p>
<h5>Duties & Responsibilities</h5>
<ol>
    <li>Reviewing requirements, specifications, and technical design documents to provide timely and meaningful feedback.</li>
    <li>End to end ownership of small to medium features in the space of backend, web or mobile applications or individual contributor for the large features.</li>
    <li>Creating detailed, comprehensive and well-structured test plans and test cases.</li>
    <li> Actively working with product development engineers to assess the testability of implementation. This is crucial as you will need to automate or guide others to automate the tests.</li>
    <li>Periodically identifying the metrics for tracking the quality of the solutions and consistently improving the testing time for product changes.</li>
</ol>

<h5>Skills Required</h5>
<ol>
    <li>5 years to 9 years of hands-on product testing experience with complex enterprise solutions covering mobile, web and backend testing.</li>
    <li>Proficiency in manual and automation testing.</li>
    <li>Experience testing web-based products</li>
    <li>Experience in test automation using open source tools.</li>
    <li>Work experience in Automation tools, an automation framework is desirable.</li>
    <li>You are passionate about delivering the highest quality product/solutions by thinking from the end-user perspective.</li>
    <li>You are self-motivated to contribute towards continuous improvement to the QA process.</li>
    <li>You are up to date with the latest tools and technologies in the testing space.</li>
</ol>
<button class="btn btn-primary">Apply Now</button>
<br>
<br>
<br>
<%- include('partials/footer'); -%>