<%- include('partials/header'); -%>
<h2>Senior Quality Assurance Engineer I SDET2 (2+ years)</h2>

<p>We are looking for a talented and experienced Senior Quality Assurance Engineer (SDET 2) to lead all aspects of new product and feature qualification from concept to post-release monitoring to our web and mobile platforms.</p>

<h5>Duties & Responsibilities</h5>
<ol>
    <li>Create test plans, test cases, test strategy, running tests, implementing build and test infrastructure, test automation and ensure good engineering practices by the team.</li>
    <li>Prepare test plans for Cloud testing and manage incoming inquiries from testers.</li>
    <li>Track and report testing status across active projects.</li>
    <li>Work with other teams to ensure efficient testing workflows.</li>
    <li>Build out automation to streamline testing.</li>
</ol>
<h5>Qualifications</h5>
<ol>
    <li>Bachelor’s degree in Computer Science, Information Science, or equivalent practical experience.</li>
    <li>Minimum 2 years of experience with automation/manual testing.</li>
    <li>Experience with clear and well-documented test case writing.</li>
    <li>Experience in testing any consumer-facing software product/device/website will be a plus. </li>
    <li>Experience testing applications on mobile devices/Web.</li>
    <li>Ability to deal with test environment configurations and management.</li>
    <li>Possess diverse exploratory testing skills with an understanding of browser and other debugging tools</li>
</ol>
<button class="btn btn-primary">Apply Now</button>
<br>
<br>
<br>
<%- include('partials/footer'); -%>
