<%- include('partials/header'); -%>

<h2>UX Designer</h2>
<p>We are looking for Sr. UX Designer with outstanding design, research and strategy skills who can help us to solve and create modern and great looking designs across all our web and mobile platforms.</p>

<h5>Responsibilities will include:</h5>
<ol>
    <li>Hook up with project team to create high-end, innovative UX solutions and experiences</li>
    <li>Refine and evolve design process, staying up to date on the latest design and technology trends</li>
    <li>Create complex design solutions from user flows and concepts to detailed designs across multiple digital platforms (web, mobile, tablet, and other connected devices).</li>
    <li>Develop Information Architecture, application flow diagrams, wireframes, mock-ups, user journeys, personas to ensure UI consistency. With the end goal of delivering user experience assets that can be used by our development and solution teams.</li>
    <li>Guide, maintain and communicate UX consistency of experience across all platforms.</li>
    <li>Focuses on improving creating reusable user experience assets that support UX core efforts.</li>
</ol>
<h5>Skills and Experience</h5>
<ol>
    <li>Expertise in experience design processes and methodologies</li>
    <li>3+ years performing at a Senior UX Designer level</li>
    <li>Proficiency in design and prototyping tools such as Sketch, InVision, Omnigraffle, Axure, Keynote, etc[R1]</li>
    <li>Deep knowledge of design principles for iOS, Android and Web solutions (including Responsive Design and native applications)</li>
    <li>Strategic thinking with a solid understanding of research and design best practices</li>
    <li>Strong portfolio with demonstrated ability across the entire project process, ranging from user research, information architecture, design, and usability testing.</li>
    <li>Excellent verbal and written communication skills</li>
</ol>
<h5></h5>
<ol>
    <li>Opportunity to work directly with the Directors and witnessing the highest levels of decision making.</li>
    <li>Opportunity to learn from some of the best people in the industry.</li>
    <li>An exciting and challenging working environment with highly passionate and enthusiastic people</li>
    <li>Being part of a start-up from an early stage, lead your area of expertise.</li>
    <li>Complete transparency on the functioning of the company.</li>
    <li>Direct engagement with investors - VC and Angels.</li>
</ol>
<a href="https://forms.gle/KyuZMTMRQmPjZrma6"><button class="btn btn-primary" >Apply Now</button></a>

<%- include('partials/footer'); -%>