<%- include('partials/header'); -%>
<h2>Engineering Manager</h2>
<p>We are looking for a passionate, entrepreneurial, hands-on engineering manager to join our Engineering team.</p>

<h5>Responsibilities: -</h5>
<ol>
    <li>Building a high performing engineering team that strives for technical excellence.</li>
    <li>Hiring the best talent for the growing needs of the business and upskilling existing teams to get them ready for new challenges.</li>
    <li>Building leaders in the engineering team at various levels to scale innovation and continuous improvement. Ensuring the growth of individuals on your team.</li>
    <li>Building an agile tech organization. Build systems and motivate teams to collaborate with business/operations to continuously deliver business value at high velocity.</li>
    <li>Collaborating with product and business functions to deliver technical solutions that enable agility and quality of services in the supply chain.</li>
    <li>Ensuring that the architecture for supply chain systems is continuously evolving to solve for evolving business needs - refactoring, bringing in new paradigms and technologies, building accelerators that enable agility and speed of delivery of solutions.</li>
    <li>Working with the technology leadership (i.e. engineering, product, design) as a team to drive systemic improvements in how Grofers technology works.</li>
    <li>Instituting processes that ensure high quality of delivery, service levels and ensure continuous improvement of systems and tech debt reduction.</li>
</ol>
<h5>Must-Have Skills</h5>
<ol>
    <li>At least 6+ years of experience as a Tech Leader to mobile, web, data platform or distributed backend systems. Should be ready to get in the fire with the team to help them fight the toughest problem-solving situations.</li>
    <li>Engineering excellence: should have demonstrated engineering excellence in past experience. Candidate should have strong programming, architecture, DevOps and QA chops. Experience in working with a diverse polyglot engineering stack in a fast-paced environment.</li>
    <li>Technically Hands-on, prior experience with scalable Architecture managing team of (5-10) Sr. Engineers /Engineers, and coaching, mentoring while maintaining a hands-on role with code development.</li>
    <li>Experience working with Product Managers and UX Designers.</li>
    <li>Experience with web technologies, RubyonRails/ Java, Python, Linux, Apache, MySQL, solr, Memcache, Redis, javascript, ajax, etc.</li>
    <li>Experience with high-performance websites catering to millions of daily traffic is a plus.</li>
    <li>Excellent teamwork skills, flexibility, and ability to handle multiple tasks.</li>
    <li>Experience and ability to bring in software engineering life cycle best practice.</li>
    <li>Excellent analytical and problem-solving skills.</li>
</ol>
<a href="https://forms.gle/KyuZMTMRQmPjZrma6"><button class="btn btn-primary" >Apply Now</button></a>

<%- include('partials/footer'); -%>