<%- include('partials/header'); -%>


<h2>Head of Mobile</h2>
<p>We are looking for a leader who can own Android development throughout the planning, design and development lifecycle and help us craft unique and seamless user experience.</p>

<h5>Responsibility</h5>
<ol>
    <li>You will be responsible to architect solutions using innovative technology ideas and industry-leading methodologies.</li>
    <li>Lead from the front and architect the Android application to be modular and use best practices to enable rapid iteration.</li>
    <li>You are required to keep abreast of emerging front-end and interactive technologies, promote their usage as project needs dictate and drive adoption across the company.</li>
    <li>Work closely with Product Management, Vendors and other engineering leaders in a cross-functional capacity.</li>
    <li>You will provide feedback to both designers and developers on technical feasibility, speed and optimization, and possible alternatives to difficult interactions or animations.</li>
    <li>You will be responsible to mentor geographically distributed teams.</li>
    <li>Provide thought leadership to the team around new technologies, processes, and approaches.</li>
</ol>

<h5>Skills Required</h5>
<ol>
    <li>Must have 6+ experience as an Android development lead with at least 3+ years as a leader.</li>
    <li>Hands-on experience in Android SDK, Java/ Kotlin, SQLite, Android Native, Android Studio, Restful API etc.</li>
    <li>Should have programming experience on the Android native platform.</li>
    <li>Familiarity with RESTful APIs to connect Android applications to back-end services.</li>
    <li>Strong coding, data structures, and algorithms.</li>
    <li>Should have a working knowledge of various libraries available for Android.</li>
    <li>Familiarity with Android Studio, Gradle.</li>
    <li>Deep understanding of software engineering practices, Object-Oriented Analysis Obsession with quality and customer experience.</li>
    <li>Good to have knowledge of backend REST API and JSON.</li>
    <li>Must have a proven track record of delivery and leadership.</li>
    <li>Must have built an app from scratch which is live in the App store now.</li>
    <li>Must have worked on Apps which is live with high DAU</li>
</ol>
<a href="https://forms.gle/KyuZMTMRQmPjZrma6"><button class="btn btn-primary" >Apply Now</button></a>

<%- include('partials/footer'); -%>