<%- include('partials/header'); -%>

<h2>QA Manager</h2>
<p>We are looking for a talented, detail-oriented, and enthusiastic QAM who is passionate about quality and is excited about the new cutting edge technology.</p>

<h5>Responsibility</h5>
<ol>
    <li>Build, train & develop a team of high-quality QA analysts. Be their mentor, guide & own this department.</li>
    <li>Liaise with other departments on projects. Set timelines, hit deadlines, make & change processes & ensure that your processes are adhered to.</li>
    <li>Highlight people or departments using your team to just troubleshoot bad code. Set high standards, keep improving them & deliver to them.</li>
    <li>Shape your team. Defend your team. Stand by your work & by them.</li>
    <li>Be the gatekeeper of quality. Continuously create automation. Break things. Perform crazy, outlying, unimaginable test cases. Be mindful of regression bugs.</li>
    <li>Care about customer experience. Be a good communicator. Enable the internal & external UAT process in a structured way.</li>
    <li>Work back from UAT to fix & deliver projects.</li>
    <li>Keep learning, teaching, demonstrating & moving forward.</li>
    <li>Help your team technically, but also be their friend & emotionally guide their many challenges.</li>
</ol>
<h5>Must-Have Skills</h5>
<ol>
    <li>About 8+ years of overall experience and at least 2+ years in a QA Manager role.</li>
    <li>Strong people management skills with a proven track record in hiring, developing and retaining high performing QA teams consisting of SDETs and QAEs.</li>
    <li>Strong QA and Automation background with experience in identifying and reviewing test plans, test cases, and testing results.</li>
    <li>Proven track record in identifying and implementing automated testing tools and frameworks.</li>
    <li>Strong project management skills, preferably with experience in an agile development environment.</li>
    <li>Excellent quality and release management skills</li>
    <li>Work with geographically distributed business and development teams.</li>
    <li>A solid track record for the delivery of high-quality products.</li>
    <li>Experience in preparing quality metrics and effectively engaging with stakeholders to set and drive quality goals.</li>
    <li>Experience working closely with development and business teams to communicate problem impacts and to understand business requirements.</li>
    <li>Strong organizational skills, able to track multiple test executions simultaneously and are able to synthesize the results.</li>
    <li>Shows creativity and initiative to improve product test coverage and effectiveness.</li>
    <li>Comfortable communicating cross-functionally and across management levels in formal and informal settings.</li>
    <li>Experience in Agile or Scrum software development methodologies.</li>
</ol>




<button class="btn btn-primary">Apply Now</button>
<%- include('partials/footer'); -%>