<%- include('partials/header'); -%>

<h2>Head Of Frontend</h2>
<p>We are looking for Head of Frontend who can lead the team working closely with Product Head, Backend team and own the entire UI stack.</p>

<h5>Responsibility</h5>
<ol>
    <li>You should be hands-on with multiple frontend technologies such as React (must), Angular, JQuery, etc.</li>
    <li>You should be able to drive design meetings, hire and nurture great developers.</li>
    <li>Take minor architectural decisions and work closely with the Front-end Architect for improving performance, testing tools, build processes, etc.</li>
    <li>Lead and participate in a culture of trust, quality, collaboration, and continuous innovation, by engaging in code reviews, writing tech specs and automated tests, and organize regular tech talks and discussions.</li>
</ol>

<h5>Must-Have Skills</h5>
<ol>
    <li>Should have 6+ years of experience in UI and web application development and experience of managing teams.</li>
    <li>Mandatory: Strong development skills in JavaScript, HTML5, and CSS.</li>
    <li>Should have expertise in one or more frameworks like ReactJs, Native Javascript(ES6/7), TypeScript, Webpack, and Redux/Flux.</li>
    <li>Expert in web technologies, web app security standards/practices and APIs (HTTP2, WebSockets etc).</li>
    <li>Knowledge of data structures, OOP, and computer fundamentals.- Ability to refractor and understands large and separate code bases.</li>
    <li>Experience managing dependencies with third-party libraries and APIs.</li>
    <li>Fast learner and staying up-to-date on emerging technologies.</li>
    <li>Experience in building and operating highly scalable, reliable systems.</li>
    <li>Bachelor's /Master in computer science.</li>
    <li>You have a proven track record of building and leading software engineering teams building scalable web applications and UI components that deliver scale, high availability and security.</li>
    <li>You are able to collaborate and communicate effectively with cross-functional teams across engineering, product, and business colleagues.</li>
    <li>You thrive in a fast-paced, dynamic environment.</li>
    <li>You have continuously set a higher bar for engineering excellence.</li>
    <li>You are able to multitask, prioritize and manage the coordination and technical challenges of wide-scale integration of dependencies.</li>
    <li>You are able to take ownership and drive initiatives independently to deliver high customer impact on time with acceptable quality.</li>
    <li>Your focus would be balanced between releasing new features while keeping the quality bar high in terms of engineering practices.</li>
</ol>

<a href="https://forms.gle/KyuZMTMRQmPjZrma6"><button class="btn btn-primary" >Apply Now</button></a>

<%- include('partials/footer'); -%>