<%- include('partials/header'); -%>

<h2>Head of Product</h2>

<p>We are looking for a result-driven and aggressive individual for leading new mandates end to end at Awign.</p>
<h5>Responsibilities</h5>
<ol>
    <li>Product: Heading product, Co-owning product vision, Product roadmaps, Go to market, inception & conception of products, competitive analysis, customer experience design, market & domain research.</li>
    <li>Business: Driving business with market intelligence (market, customer, competition), life-cycle management, finding growth opportunities, product support, sales support, etc.</li>
    <li>Problem Solving: Come up with solutions with deep problem solving, critical thinking, and communication skills. Highly customer-obsessed thinking with a deep understanding of customer needs and preferences.</li>
    <li>Project Management: End to end project management experience and ensuring highly effective inter-team interactions and communication.</li>
    <li>Technology: Know-how of technology that goes behind the product, high level of understanding of the impact of technology on the product road map and overall health of the product.</li>
    <li>Ability to work under pressure in time-critical situations.</li>
    <li>Solid track record of building and shipping high-quality products to business within the specified timelines.</li>
</ol>
<h5>Must-Have Skills </h5>
<ol>
    <li>4 to 8 years of total hands-on experience in product management and more than 3 years of relevant experience in high scale consumer internet environments.</li>
    <li>Minimum 2 years of Experience in software development</li>
    <li>Previous start-up and/or consulting experience is a strong plus.</li>
    <li>Bachelor's degree in Computer Science or equivalent practical experience from tier1 college is a strong plus.</li>
</ol>

<h5>What We Have To Offer</h5>
<ol>
    <li>Working directly with founders; having a high level of work independence, autonomy and empowerment to lead.</li>
    <li>An exciting and challenging working environment with highly passionate and enthusiastic people.</li>
    <li>Being part of a start-up from an early stage, lead your area of expertise.</li>
    <li>Complete transparency on the functioning of the company.</li>
    <li>Direct engagement with investors - VC and Angels.</li>
</ol>
<button class="btn btn-primary">Apply Now</button>
<%- include('partials/footer'); -%>