<%- include('partials/header'); -%>
<h2>Software Architect</h2>
<p>We are looking for Software Architect who will design and oversee programs to ensure the proper architecture is implemented.</p>

<h5>Responsibility</h5>
<ol>
    <li>Research, design and build highly reliable, available and scalable platforms</li>
    <li>Complete ownership of Service/Services that your team is responsible for Lead by example, mentor and guide team members on everything from structured problem solving to development of best practices</li>
    <li>Platform components as libraries, utilities and services and promote reuse.</li>
    <li>Own large technical deliverable and execute in an exemplary way</li>
    <li>Be able to conceptualize and develop prototype quickly</li>
    <li>Drive technical road-map of the team in collaboration with Engineering and Product</li>
</ol>

<h5>Skills/ Tech Stack</h5>
<ol>
    <li>Deep expertise with any combination programming languages: Ruby, Java, Python, NodeJs any objected-oriented high-level proprietary or open-source language with strong programming constructs. We are not skill-specific but go by strength incompetencies. What do we evaluate for a good fitment</li>
    <li>Ruby On Rails Knowledge is an extra advantage.</li>
    <li>Strong System Characterization and identification of technical requirements</li>
    <li>Distributed Systems Architecture, components modeling, data flow, Scaling and managing large pieces of data</li>
    <li>Articulating system requirements, problem comprehension and identifying high-level building blocks</li>
    <li>Non-Functional Requirements (NFRs) like Scalability, Fault-Tolerance, High Availability, Sharding, Replication, Load balance & Application-level Security, etc.</li>
    <li>Architectural & Design Choices, Deep knowledge on one or more tech stacks, identify alternative tech choices and trade-offs</li>
    <li>Strong problem-solving skills, Identify feasible alternatives and freeze on the optimal choice of data structures and advanced algorithms</li>
    <li>Ability to work in fuzzy environments and complex environments</li>
    <li>Able to take high ownership of complex system components and drive it to the next level</li>
    <li>Machine Coding (Able to write modular and functionally complete object-oriented code, NFR implementation, abstractions, separation of concerns, concurrency & thread safety, extensibility, hooks etc)</li>
    <li>Experience in building data-driven web application design and development is a plus</li>
    <li>Expert level experience in building a scalable, large and complex business application using some of the above technologies and mentoring junior engineers.</li>
    <li>BE /B.Tech /M.Tech from a premier institute - preferably in Computer Science.</li>
</ol>
<button class="btn btn-primary">Apply Now</button>
<%- include('partials/footer'); -%>