<%- include('partials/header'); -%>

<h2>Senior Operations Manager ( Exp: 3-5 years)</h2>
<p>We are looking for highly driven and ambitious person with the drive to lead multi-layered teams and who place
   an inordinate amount of importance on learning and improvising. With a relentless focus on execution, you need
   to be highly data driven and have a higher-than-normal sense of ownership. Prior experience in Operations / procurement
   / program management/ process standardisation would be an added advantage, but is not mandatory.</p>

<h5>Duties and Responsibilities</h5>
<ol>
    <li>Set goals/KPI/target for the entire (10+) team members.</li>
    <li>Take up existing projects and optimize them by closely working with the product team.</li>
    <li>Take new initiatives to drive additional revenue.</li>
    <li>Handle general operations which includes daily execution, driving volume, tracking progress,
        highlighting flags and daily reporting.</li>
    <li> Setup operational systems and processes and run the operations function for your respective Vertical.</li>
    <li>Execute complex operations and solve problems persistently and at a lightning speed.</li>
    <li>Responsible for client experience, handling all client escalations and solving them systematically.
        Also accountable for cost of operations, driving efficiency and productivity to drive lean operations.</li>
</ol>
<h5>Required Skills and Experience:</h5>
<ol>
    <li>3- 5 years of relevant experience.</li>
    <li>You should be Team Leader with objective approach towards goal setting and monitoring.</li>
    <li>You should be very good at problem solving, analytical skills, data-driven focused decision making.</li>
    <li>You should have good people management, team building and program management skills.</li>
    <li>Strong Stakeholder Management skills to deal with business development, transformation, Design and internal operations teams.</li>
    <li>Strongly inclined to do high quality and impactful work in a dynamic and unstructured environment. </li>
    <li> Higher than normal sense of ownership with a clear bias for action.</li>
    <li>Relevant educational qualification. </li>
    <li> Must have impeccable verbal and written communication skills (Both English and Hindi).</li>
</ol>
<a href="https://forms.gle/KyuZMTMRQmPjZrma6"><button class="btn btn-primary" >Apply Now</button></a>

<%- include('partials/footer'); -%>
