<%- include('partials/header'); -%>

<h2>Head of UX Design</h2>
<p>We're seeking an excellent design leader to manage and help designers and researchers on our product team realise and together, become the best design team in the industry.</p>

<h5>Responsibilities:</h5>
<ol>
    <li>Create close working alliances with Product, Strategy, Marketing and Engineering, to shape and deliver design vision and strategy</li>
    <li>Develop solutions that balance member needs, business constraints, and technical considerations across different surfaces (mobile, web etc.)</li>
    <li>Defining and designing the multi-channel experience of our customers - product portfolio will span mobile, web and a variety of other services, which we deliver via a user-friendly internet platform</li>
    <li>Uncover and decode the latent and unmet needs of our users, successfully converting their needs into solutions</li>
    <li>Build, develop and nurture a world-class technical product design team; enable your team to innovate, Solve complex design problems and deliver extraordinary results</li>
    <li>Create an environment in which customer happiness, employee happiness and company goals intersect and flourish</li>
</ol>

<h5>Requirements:</h5>
<ol>
    <li>Ideal candidate should have 6-10 years of hands-on product design experience with mobile and web products in B2C Tech Company</li>
    <li>Preference would be given to candidates who have Engineering + Design degrees from Tier - 1 Institute.</li>
    <li>An outstanding portfolio that showcases your foundation in ideation, visual design, interaction and delivery</li>
    <li>Analytical thinking - analyse data, determine how to incorporate findings into design</li>
    <li>Excellent communication skills</li>
    <li>Ability to work nimbly across multiple projects, with fast-paced, iterative product development cycles</li>
    <li>The flexibility to quickly adapt and produce in a rapidly-changing environment, meeting aggressive product launch schedules</li>
</ol>

<h5>What we have to offer:</h5>
<ol>
    <li>Opportunity to work directly with the Directors and witnessing the highest levels of decision making.</li>
    <li>Opportunity to learn from some of the best people in the industry.</li>
    <li>An exciting and challenging working environment with highly passionate and enthusiastic people.</li>
    <li>Being part of a start-up from an early stage, lead your area of expertise.</li>
    <li>Complete transparency on the functioning of the company.</li>
    <li>Direct engagement with investors - VC and Angels.</li>
</ol>
<button class="btn btn-primary">Apply Now</button>
<%- include('partials/footer'); -%>