<%- include('partials/header'); -%>

<h2>SDE 2 Android Developer</h2>
<p>Awign is a highly configurable tech platform for businesses, which aims at optimizing high touch key functions in organizations by breaking them into smaller / simpler functions which can be solved with little or no management. One of the top objectives of Awign platform is to simplify the execution of different complex processes involving managing teams of multiple people at different hierarchal levels.</p>

<h5>Here’s what you will do day-to-day:</h5>
<ul>
    <li>Brainstorm, contribute new ideas, conceive innovative strategies, and implement solutions to difficult problems</li>
    <li>Work with fellow designers and developers in an iterative environment with short and impactful development cycles </li>
    <li>Exploit the most advanced Android APIs and platform features to build innovative solutions to real-world problems </li>
    <li>Build all the necessary tools and infrastructure to enable rapid mobile development</li>
    <li>Work closely with our backend team to interface with RESTful API services </li>
    <li>Work with real-time feedback from our users to make the product better </li>
    <li>Discover, design, develop, deploy, debug. Repeat! </li>
</ul>

<h5>Why work with us?</h5>
<ul>
    <li>Work in a very small, highly talented team consisting IIT alumnus and rockstar developers</li>
    <li>High standard of engineering quality </li>
    <li>Work on cutting edge technologies in android development so that you are always updated with the trends in android community. P.S. We hate outdated technologies! </li>
    <li>High impact role at fast paced growth company </li>
</ul>

<h5>Skills we are looking for - Android Engineer:</h5>
<ul>
    <li>Must be able to independently design, code and test major features, as well as work jointly with other team members to deliver complex changes.</li>
    <li>Strong object-oriented design and coding skills (Java, Kotlin) </li>
    <li>Solid software development background including design patterns, algorithms, data structures </li>
    <li>Experience with MVVM or MVP or Clean architecture </li>
    <li>Experience with mobile data storage with SQLite/Room or other DBs including no-SQL </li>
    <li>Understanding of RxJava, Dependency Injection frameworks like Dagger 2 </li>
    <li>Good experience in memory management, performance tuning, and resource optimizations </li>
    <li>Has published at least one app in play store </li>
</ul>

<h5>Few Good to Haves:</h5>
<ul>
    <li>Kotlin experience is a big plus</li>
    <li>Experience working in a startup</li>
    <li>Experience with Camera and Google Maps apis</li>
    <li>Published apps in play store</li>
    <li>Github/Medium/StackOverflow presence</li>
</ul>

<h5>Our Android Tech:</h5>
<ul>
    <li>Clean architecture with best practices in MVVM </li>
    <li>Latest jetpack components </li>
    <li>Reactive programming </li>
    <li>Kotlin</li>
</ul>

<button class="btn btn-primary">Apply Now</button>
<%- include('partials/footer'); -%>