<%- include('partials/header'); -%>

<h2>SDE 2 Frontend Developer</h2>

<p>-Awign is a heavily funded start-up with 100+ employees founded by 3 IIT Alumni.

    We use a unique tech platform to do project execution for clients like Swiggy,
    
    Zomato, OYO rooms, policy bazar etc using on-demand workforce. We are the first
    
    company in India to develop a Uber model for work.</p>
<br>
<p>-We are creating India&#39;s largest network of the on-demand workforce. Our platform

    helps enterprises execute high skill functions of operations and business
    
    development at a large scale simultaneously in multiple geographies PAN India. At
    
    the same time, we provide opportunities to learn and earn to the underemployed
    
    population in a way that they get the freedom to define their own boundaries around
    
    what they want to do and when they want to do.</p>
<br>
<p>We are currently operational in more than 200 cities in India and have touched over

    200,000 careers in a short span of 18 months. We are funded by VCs based out of
    
    India &amp; the US</p>
<br>
<p>We are looking for young front-end ninjas who are passionate about giving users the

    best experience. Have a thirst to learn new technologies and updating themselves to
    
    find new solutions to meet the needs of our constantly growing the business.</p>

<h5>Experience:- 2 to 5 Years</h5>

<h5>Responsibilities :</h5>
<ol>
    <li>Build reusable code and libraries for future use.</li>
    <li>Own &amp; build new modules/features end-to-end independently.</li>
    <li>Collaborate with other team members and stakeholders.</li>
</ol>

<h5>Required Skills :</h5>
<ol>
    <li>Thorough understanding of JavaScript, its quirks, and workarounds.</li>
    <li>Excellent in at least one Javascript framework like Angular, Ember, React or Backbone.</li>
    <li> Good understanding of asynchronous request handling, partial page updates, and AJAX.</li>
    <li>Proficient understanding of cross-browser compatibility issues and ways to work around such issues.</li>
    <li>Cares deeply about clean and semantic code, and a passion for delivering a great user experience.</li>
</ol>


<h5>Bonus skills :</h5>
<ol>
    <li>Basic understanding of web markup, including HTML5 and CSS3 Understanding of Git, Bower, and Grunt</li>
</ol>

<h5>Job Perks :</h5>
<ol>
    <li>Get to work with a highly passionate team of engineers.</li>
    <li>Open and embracing the culture for the latest hot technologies.</li>
    <li>A high level of freedom and responsibility.</li>
    <li>A competitive salary &amp; MacBook Pro</li>
</ol>
<a href="https://forms.gle/KyuZMTMRQmPjZrma6"><button class="btn btn-primary" >Apply Now</button></a>

<%- include('partials/footer'); -%>