<%- include('partials/header'); -%>
<h2>Senior Software Developer - Backend (RUBY ON RAILS)</h2>


<h5>Responsibilities:</h5>
<ol>
    <li>Should have 2 to 3 yrs of total experience.</li>
    <li>Architect systems capable of serving as the brains of complex distributed products.</li>
    <li>Building reusable code and libraries for future use.</li>
    <li>Integration of user-facing elements with server side logic.</li>
    <li>Thrives in a complex and ambiguous environment, continuously adapting for business & users.</li>
    <li>Maintain, contribute and adhere to programming best practices and guidelines.</li>
</ol>

<h5>Requirements:</h5>
<ol>
    <li>Technically Hands-on, prior experience with scalable Architecture.</li>
    <li>Excellent command over Data Structures and Algorithms.</li>
    <li>Exceptional coding skills in an Object Oriented programming language (Ruby preferred).</li>
    <li>Strong problem solving and analytical skills.</li>
    <li>Experience with web technologies, Rails, Java, Python, Linux, Apache, MySQL, ElasticSearch, Redis.</li>
    <li>Experience in architecting & building real-time, large-scale applications.</li>
    <li>Experience with high-performance websites catering to millions of daily traffic.</li>
    <li>Knowledge about different design / coding patterns.</li>
    <li>Experience working with dynamic document stores like mongodb.</li>
    <li>Knowledge of metaprogramming in ruby.</li>
</ol>

<h5>What we offer:</h5>
<ol>
    <li>Work in a very small, highly talented team consisting of IIT alumni and rockstar developers.</li>
    <li>High standard of engineering quality.</li>
    <li>Work on cutting edge technologies in android development so that you are always updated with the trends in the development community. P.S. We hate outdated technologies!</li>
    <li>High impact role at fast paced growth company.</li>
</ol>
<a href="https://forms.gle/KyuZMTMRQmPjZrma6"><button class="btn btn-primary" >Apply Now</button></a>

<%- include('partials/footer'); -%>