<%- include('partials/header'); -%>
<h2>DIRECTOR OF ENGINEERING</h2>

<h5>Responsibilities:</h5>
<ol>
    <li>We believe in Impact creation at scale, so it is imperative for the Manager.</li>
    <li>Ability to attract and hire top-notch Engineering talent for the organisation.</li>
    <li>Be responsible for the group’s technical strategy and roadmap – creating success metrics in close collaboration with other groups across the organisation in executing initiatives in agile way.</li>
    <li>Brings a strong perspective that drives change and motivates engineers to develop simple solutions to complex problems.</li>
    <li>Help implement effective engineering processes and champion their adoption.</li>
    <li>Has the technical capacity and capability to partner with tech leads and architects in problem solving.</li>
    <li>Mentor the professional development of each direct report through personal and performance management.</li>
    <li>Give engineers the tools, confidence, and motivation to make decisions independently that lead to their recognition.</li>
    <li>Effective at influencing a culture of engineering craftsmanship and excellence.</li>
    <li>Initiate cross-functional (Product, Business, Operations) collaborations with development teams throughout and gather feedback and requirements.</li>
    <li>Seek diverse perspectives to drive bottom-up innovation and create buy-in from all technical stakeholders.</li>
</ol>

<h5>Requirements:</h5>
<ol>
    <li>Minimum 6 to 7 years of  experience.</li>
    <li>Experience level of 5+ years of experience in very large scale applications and 3+ years' experience in people management.</li>
    <li>Strong problem solving skills, data structures and algorithms.</li>
    <li>Experience with distributed systems handling large amounts of data.</li>
    <li>Excellent coding skills in one of the languages PHP/Python/C++/Java.</li>
    <li>Very good understanding of Web Technologies.</li>
    <li>Very good understanding of any RDBMS and/or messaging.</li>
</ol>

<h5>What we offer:</h5>
<ol>
    <li>Work in a very small, highly talented team consisting of IIT alumni and rockstar developers.</li>
    <li>High standard of engineering quality.</li>
    <li>Work on cutting edge technologies in android development so that you are always updated with the trends in the development community. P.S. We hate outdated technologies!</li>
    <li>High impact role at fast paced growth company.</li>
</ol>
<button class="btn btn-primary">Apply Now</button>
<%- include('partials/footer'); -%>