<%- include('partials/header'); -%>

<h2>Operations Executive (Exp: 0 to 1 years)</h2>
<p>As part of this role, you would:</p>
<ol>
    <li>Work alongside the Operations Manager to execute projects at scale.</li>
    <li>Virtually manage a huge amount of people working on the field.</li>
    <li>Manage all India student engagement drive.</li>
    <li>Ensure that training of each project runs smoothly.</li>
    <li>Ensure that everyone who is selected for a project goes to the field to work on their scheduled timings.</li>
    <li>Mentor and motivate the student workforce. Demonstrate strong people engagement skills.</li>
    <li>Run the pilot of projects.</li>
    <li>Suggest improvements in processes at every level in operations.</li>
</ol>
<br>
<p>In a nutshell, the individual will directly work with the Head of Operations and take up the
   responsibility of managing a huge amount of people.</p>

<h5>Skills and Experience</h5>
<ol>
    <li>Overall experience – 0 – 1 years.</li>
    <li>Experience of working a startup is preferred.</li>
    <li> Must be aggressive towards driving the targets.</li>
    <li>Must have impeccable verbal and written communication skills (Both English and Hindi).</li>
    <li>Must have excellent relationship management skills.</li>
    <li>Critical business thinking is essential.</li>
</ol>

<a href="https://forms.gle/KyuZMTMRQmPjZrma6"><button class="btn btn-primary" >Apply Now</button></a>

<br>
<br>
<br>
<%- include('partials/footer'); -%>
