<%- include('partials/header'); -%>

<h2>Talent Acquisition Executive (Exp: 0.5- 2 years)</h2>
<p>In this role, you’d be required to take interviews of college students applying from all across India
   and shortlist the best talent to work on various part-time internships offered by Awign. Your major responsibilities
   would include:</p>
<ol>
    <li>Coordinating with operation teams to identify the requirements for ongoing part-time internships.
         This may include- Identifying selection criteria, skill set required and estimating the total numbers
          of interns required to deploy in a particular internship.</li>
    <li>During the interview, you are responsible for checking the student’s availability, eligibility, knowledge
         about the internship and evaluating on the skill set required before shortlisting a candidate to work on an internship
         .</li>
    <li>Rigorous evaluation to shortlist the best talent from all across the country to work on the ongoing internships.</li>
    <li>Suggest alternative internship to students as per his/her eligibility, in case (s)he is not eligible to work on the internship applied for.</li>
    <li>Taking initiatives to figure out effective ways to automate the interview process for very large volumes.</li>
</ol>
<p>In general, you would be responsible for building up a supply of ‘Ready to Work’ interns in very large volumes who can excel in their respective internship.
</p>

<h5>Skills and Experience</h5>
<ol>
    <li>0.5 – 2 years of relevant experience.</li>
    <li>Any educational degree</li>
    <li>The desire of burning it out in a start-up environment.</li>
    <li>Demonstrate strong people engagement skills.</li>
    <li>Excellent communication skills - English Proficiency (Spoken & Written), Hindi Proficiency (Spoken).</li>
    <li>Proficiency in any other language would be a plus.</li>
    <li>Showcase impeccable problem solving and critical thinking skills.</li>
    <li>Entrepreneurial attitude to handle challenging tasks, deal with ambiguity and shoulder responsibility.</li>
</ol>
<a href="https://forms.gle/KyuZMTMRQmPjZrma6"><button class="btn btn-primary" >Apply Now</button></a>

<br>
<br>

<%- include('partials/footer'); -%>
