<%- include('partials/header'); -%>

<h2>Content Strategist</h2>
<p>We are looking for a master storyteller who knows how to align brand goals with compellindigital content that gets engagement and results for in-house brand. S/he should be able to own strategy and then ply his/her craft as a skilled wordsmith through blogs, website copy, thought leadership pieces, and social media content.
</p>
<h5>Roles and Responsibilities:</h5>
<br>
<p>We'll be looking to you to be our storyteller and content champion for our in-house  brand, leading the brand, content and campaign strategy all the way through digital content creation across channels. Here's what we have in mind:</p>
<ol>
    <li>Understand employer branding and marketing goals to honing in on the right brand content strategy to achieve results.</li>
    <li>Build that strategic understanding of brand voice guidelines that will guide all future content creation.</li>
    <li>Serve as the voice of the brand across all digital channels: websites, apps, blog posts, social, and all marketing collateral for attracting and engaging potential workforce.</li>
    <li>Build long-term content plans and short-term content calendars that will bring awareness, engagement, expansion, and longevity to the brand.</li>
    <li>Leverage market research, data, trends, SEO strategies, and customer insights to create content that supports future growth.</li>
    <li>Partner with the internal teams to align content with the larger picture of what we- re delivering and to develop content for various project requirements.</li>
    <li>Participate in increasing our brand awareness through creating email marketing, blogging, thought leadership, press releases, events, advertising, and social media.</li>
</ol>
<h5>Skills and Qualification</h5>
<ol>
    <li>Excellent verbal and written communication skills</li>
    <li>Excellent grasp of English language</li>
    <li>Creative and innovative thinker and planner</li>
    <li>Confident in producing work across multiple platforms</li>
    <li>Min 2-3 years experience</li>
</ol>
<a href="https://forms.gle/KyuZMTMRQmPjZrma6"><button class="btn btn-primary" >Apply Now</button></a>


<%- include('partials/footer'); -%>
