<%- include('partials/header'); -%>

<h2>Data Analyst</h2>
<p>We are looking for a result-driven and aggressive individual to take up the role of Analyst for the Client Engagement Team. As part of this role, you would: </p>

<ol>
    <li>To work closely with Key Account Managers to setup reporting structures and Infras for ongoing projects/clients.</li>
    <li>To run a detailed analysis of project-level data to generate additional insights for clients in the form of analytical dashboards.</li>
    <li>To build trackers for monitoring project health, departmental/employee performance, etc.</li>
    <li>To run sanity/quality checks on the Execution data (output) and client data (input).</li>
    <br>
</ol>
<p>In a nutshell, the individual will take up complete responsibility for building reports, quality checks on the reports and improvements in structures.</p>

<h5>Skills and Experience</h5>
<ol>
    <li>Overall experience – 1-4 years. </li>
    <li>Deft at using spreadsheets, app script, any analytics tool (Power BI, Klipfolio, etc) and other data management software.</li>
    <li>Prior experience in using analytics and dashboarding tools is a must.</li>
    <li>The experience of working in a startup is preferred.</li>
    <li>Should have good verbal and written communication skills (Both English and Hindi).</li>
</ol>

<h5>What we have to offer</h5>
<ol>
    <li>Working directly with founders; having a high level of work independence, autonomy and empowerment to lead. </li>
    <li>An exciting and challenging working environment with highly passionate and enthusiastic people.</li>
    <li> Being part of a start-up from an early stage, lead your area of expertise and be a part of this exciting growth journey of redefining how outsourcing will work for the decades to come.</li>
    <li>Complete transparency on the functioning of the company.</li>
    <li>Direct engagement with investors - VC and Angels.</li>
    <li>Unconventional Career growth. </li>
    <li>Free Luch, Tea & Coffee and snacks. </li>
</ol>
<a href="https://forms.gle/KyuZMTMRQmPjZrma6"><button class="btn btn-primary" >Apply Now</button></a>


<%- include('partials/footer'); -%>
