<%- include('partials/header'); -%>

<h2>Senior Recruitment Executive ( Exp- 2-4 years)</h2>
<p>Senior Recruitment Executive would be responsible towards delivering the critical hiring demand and support Awign’s aggressive growth plans.
   The incumbent will partner with business leaders to identify and strategize their short term and long term hiring needs. The ideal candidate
   should have demonstrated innovation, strategy and should be able to resolve complex recruitment problems.</p>

<h5>Duties & Responsibilities</h5>
<ol>
    <li>Own and manage the full recruitment life-cycle from JDs and sourcing to interviews and negotiations for all open roles at Sixinterns.</li>
    <li>Conduct role-specific recruiting via traditional and non-traditional resources such as LinkedIn and Angellist</li>
    <li>Use market research, networking, social platforms, advanced search tools, employee and external referrals, and community events to source candidates.</li>
    <li>Ensure candidates have a great experience at every stage of the recruitment process by maintaining fast turnaround times, feedback on rejects, employee focussed negotiations, etc.</li>
    <li> Liaise with stakeholders to continuously evaluate criticality of open positions, identify gaps in the existing recruitment strategies and develop recruiting best practices to ensure hiring priorities.</li>
    <li>Keep all stakeholders informed on recruitment by circulating weekly hiring reports with data points across the hiring funnel, status of every open position, feedback on profiles, challenges faced in hiring for a role and so on.</li>
    <li>Support promoting Awign’s employer brand through social media platforms ( Linkedin, Facebook, Instagram etc) and position us as an apt destination to work, network, learn and build one’s career.</li>
</ol>
<h5>Skills Required</h5>
<ol>
    <li>Excellent oral and written communication skills in English. Good oral communication skills in hindi</li>
    <li>Excellent time management skills with the ability to prioritise workload and work well under pressure.</li>
    <li>Must have good judgment, be able to maintain confidentiality and work with minimal supervision. </li>
    <li>Proficient in Microsoft Word, Spreadsheet and G Suite tools.</li>
    <li>Good knowledge of social media recruitment.</li>
</ol>
<h5>Qualification/Experience Required</h5>
<ol>
    <p>The ideal candidate will be an inspiring and confident team player with:</p>
    <li>Bachelors/ Masters ( MBA preferred ) with 2 - 4 years of experience in hiring for tech and non-tech positions.</li>
    <li>Experience in a progressive startup is desirable.</li>
    <li>Ability to effectively influence and drive toward results in a fast-paced environment.</li>
</ol>
<button class="btn btn-primary">Apply Now</button>

<%- include('partials/footer'); -%>
